<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seoul42.relief_post_office">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.rightline.backgroundrepeatapp.permission.ACTION_REPEAT" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.rightline.backgroundrepeatapp.permission.ACTION_REPEAT"
        android:protectionLevel="signature"
        tools:ignore="UniquePermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Relief_post_office"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".safety.GetGuardianSafetyActivity"
            android:exported="false" />
        <activity
            android:name=".safety.EditWardSafetyActivity"
            android:exported="false" />
        <activity
            android:name=".safety.SafetyQuestionSettingActivity"
            android:exported="false" />
        <activity
            android:name=".safety.AddWardSafetyActivity"
            android:exported="false" />
        <activity
            android:name=".safety.WardSafetySettingActivity"
            android:exported="false" />
        <activity
            android:name=".safety.EditSafetyActivity"
            android:exported="false" />
        <activity
            android:name=".safety.SafetyMake"
            android:exported="false" />
        <activity
            android:name=".service.CheckLoginService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".login.PhoneActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".join.JoinActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".guardian.MainFragment"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".guardian.GuardianBackgroundActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ward.WardActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ward.AlarmActivity"
            android:theme="@style/TransparentStatusTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".guardian.GuardianProfileActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ward.WardProfileActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".result.ResultActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".result.ResultDetailActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".result.ResultQuestionDetailActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ward.AnswerActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ward.EndingActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".guardian.ProfileActivity"
            android:windowSoftInputMode="adjustNothing" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".alarm.WardReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rightline.backgroundrepeatapp.REPEAT_START" />
                <action android:name="com.rightline.backgroundrepeatapp.REPEAT_NOTIFY" />
                <action android:name="com.rightline.backgroundrepeatapp.REPEAT_STOP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarm.GuardianReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rightline.backgroundrepeatapp.REPEAT_START" />
                <action android:name="com.rightline.backgroundrepeatapp.REPEAT_STOP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarm.NetworkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rightline.backgroundrepeatapp.REPEAT_START" />
                <action android:name="com.rightline.backgroundrepeatapp.REPEAT_STOP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarm.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>